<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data> <! -- Corrected if used -->

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
          {%- if site.moving.since -%}
              <p>© {{ site.moving.since | escape }} - {{ 'now' | date: '%Y' }} {{ site.author | escape }}</p>
          {%- else -%}
              <p>© {{ 'now' | date: '%Y' }} {{ site.author | escape }}</p>
          {%- endif -%}
      </div>

      <div class="footer-col one-half">
        <p class="text">{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
