{% raw %}
<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
      {%- if site.moving.since -%}
      <p>© {{ site.moving.since | escape }} - {{ 'now' | date: '%Y' }} {{ site.author | escape }}</p>
      {%- else -%}
      <p>© {{ 'now' | date: '%Y' }} {{ site.author | escape }}</p>
      {%- endif -%}

      <p><a class="black-link" href="mailto:{{ site.email }}">{{ site.email }}</a></p>

      <p class="text">{{ site.description | escape }}</p>

      <nav>
          <a href="{{ '/' | relative_url }}">Home</a>
          <a href="{{ '/about/' | relative_url }}">About</a>
      </nav>

  </div>
</footer>
{% endraw %}
