---
layout: default
---

<article
    class="post h-entry"
    itemscope
    itemtype="http://schema.org/BlogPosting"
>
    <head>
        <script
            type="text/javascript"
            async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"
        ></script>
        <script src="https://unpkg.com/d3@5.16.0/dist/d3.min.js"></script>
        <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
        <script src="https://unpkg.com/d3-graphviz@3.1.0/build/d3-graphviz.min.js"></script>
        <title>{{ page.title }}</title>
    </head>
    <header class="post-header">
        <div class="post-back">
            <a class="black-link" href="{{ site.url | relative_url }}">
                ← {{ site.moving.back_to }}
            </a>
        </div>
        <h1 class="post-title p-name" itemprop="name headline">
            {{ page.title | escape }}
        </h1>
        <p class="post-meta">
            <time
                class="dt-published"
                datetime="{{ page.date | date_to_xmlschema }}"
                itemprop="datePublished"
            >
                {%- assign date_format = "%b %-d, %Y" -%} {{ page.date | date:
                date_format }}
            </time>
            {%- if page.author -%} •
            <span
                itemprop="author"
                itemscope
                itemtype="http://schema.org/Person"
                ><span class="p-author h-card" itemprop="name"
                    >{{ page.author | escape }}</span
                ></span
            >
            {%- endif -%}
        </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
        <script>
            function d3ize(elem) {
                var par = elem.parentElement;
                d3.select(par)
                    .append("div")
                    .graphviz()
                    .renderDot(elem.innerText);
                d3.select(elem).style("display", "none");
            }
            var dotelems = document.getElementsByClassName("language-dot");
            for (let elem of dotelems) {
                d3ize(elem);
            }
        </script>
    </div>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
